Redirect permanent /minor_league.html /division.php?did=76
Redirect permanent /minor_league_results.html /division.php?did=76
Redirect permanent /chapman.html /division.php?did=47
Redirect permanent /chapman_results.html /results_by_round.php?rid=133
Redirect permanent /wylie.html /division.php?did=68
Redirect permanent /harrod.html /division.php?did=75
Redirect permanent /players/index.html /players.php
Redirect permanent /players/ashby.html /players.php?cid=17
Redirect permanent /players/braunstone.html /players.php?cid=1
Redirect permanent /players/heathcote.html /players.php?cid=2
Redirect permanent /players/kirby.html /players.php?cid=16
Redirect permanent /players/latimer.html /players.php?cid=19
Redirect permanent /players/loughborough.html /players.php?cid=4
Redirect permanent /players/mkt_harborough.html /players.php?cid=5
Redirect permanent /players/melton.html /players.php?cid=6
Redirect permanent /players/syston.html /players.php?cid=12
Redirect permanent /players/wigston.html /players.php?cid=13
Redirect permanent /new http://lrca.stewartsplace.org.uk
ErrorDocument 404 /error_page.php