* {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
body {
	min-height: 100%;
}

/*#mainNav {
	color: white;
}*/

#mainNav ul {
	/*margin: 0 0 1em;*/
	list-style: none;
	padding: 0;
}

#mainNav>ul>li {
	margin: 0;
}

#mainNav li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 0.9em;
	display: block;
	color: white;
	/*color: black;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid #999999;
	border-bottom: 2px solid #999999;*/
	padding: 3px 7px;
	/*background-color: #cccccc;*/
}

#mainNav+* {
	clear: both;
}

#mainNav ul ul ul {
	left: 100%;
	top: 0em;
	white-space: nowrap;
}
#mainNav ul ul {
	visibility: hidden;
	background: navy;
	display: none;
}

#mainNav ul ul li {
	margin: 0;
}

#mainNav li.loggedInUser {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0;
}

#mainBody {
	position: relative;
	top: 1em;
	/*width: 100%;*/
	padding: 0 1em;
}
/*
#subNav {
	position: absolute;
	left: 1em;
	width: 13em;
}
*/
#subNav ul {
	list-style: none;
	padding: 0;
}
#subNav li {
	margin: 0;
}
#subNav li a {
	border-top: 1px solid #9999cc;
	border-bottom: 1px solid #9999cc;
	padding: 5px 0;
	text-decoration: none;
	display: block;
	color: inherit;
}
#subNav li a:hover {
	background-color: #ccccff;
	color: black;
}
#subNav ul+ul, #subNav ul+form {
	margin-top: 2em;
}
/*
#subBody {
	position: absolute;
	left: 15em;
	right: 1em;
}*/
/*#subNav p+p {
	margin-top: 0.8em;
}*/

#head+* {
	clear: both;
}

#clubVenue {
	float: left;
	margin-bottom: 1em;
	width: 50%;
	/*position: absolute;
	left: 1em;
	width: 13em;*/
}
#clubInfo {
	float: left;
	margin-top: 0.8em;
	margin-bottom: 1em;
}
#clubInfo td {
	vertical-align: top;
}
#clubInfo td:first-child {
	text-align: right;
}
#clubInfo+* {
	clear: both;
}

table {
	border-collapse: collapse;
}

table+table, table+p, table+form>p:first-child {
	margin-top: 1em;
}

th, td {
	padding: 2px 5px;
}

.standings {
	/*width: 100%;*/
	border-top: 1px solid #9999cc;
	border-bottom: 1px solid #9999cc;
}
.standings thead {
	border-bottom: 1px solid #9999cc;
}
.standings th, .standings td {
	text-align: left;
}
.standings th:first-child, .standings td:first-child, .standings th+th+th, .standings td+td+td {
	width: 2.5em;
	text-align: center;
}
.standings th:first-child+th, .standings td:first-child+td {
	padding-right: 2em;
}
.standings th, .standings tr:nth-child(even) {
	background-color: #ddddff;
}

.fixtures td.division {
	width: 8em;
}
.fixtures .date {
	width: 8em;
}
.fixtures .homeTeam {
	text-align: right;
	width: 12em;
}
.fixtures .awayTeam {
	text-align: left;
	width: 12em;
}
.result thead, .result tfoot {
	border-top: 1px solid #9999ff;
	border-bottom: 1px solid #9999ff;
}

.result td.board, .result td.colour, .result td.grade, .result td.score {
	text-align: center;
}
.result .board, .result .colour {
	width: 2em;
}
.result .grade {
	width: 2.5em;
}
.result .name {
	width: 13em;
}

.resultSubmit thead, .resultSubmit tfoot, .teamCheck thead {
	border-top: 1px solid #9999ff;
	border-bottom: 1px solid #9999ff;
}

.resultSubmit td.board, .resultSubmit td.colour, .resultSubmit td.grade, .resultSubmit td.score, .teamCheck td.board {
	text-align: center;
}
.resultSubmit .board, .resultSubmit .colour {
	width: 2em;
}
.resultSubmit .grade {
	width: 2.5em;
}
.resultSubmit .name {
	width: 13em;
}
.teamCheck .board {
	width: 4em;
}
.teamCheck .name {
	width: 25em;
}

.defaults .date {
	width: 7em;
}
.defaults .homeTeam {
	text-align: right;
	width: 12em;
}
.defaults .awayTeam {
	text-align: left;
	width: 12em;
}

.homeScore {
	width: 2em;
	text-align: right;
	padding-right: 0;
}
td.dash {
	text-align: center;
}
.awayScore {
	width: 2em;
	text-align: left;
	padding-left: 0;
}

.defaults .homeScore, .defaults .awayScore {
	width: 1em;
}

.rp .board {
	width: 4em;
}
.rp .homeScore, .rp .awayScore {
	width: 1em;
}

.players, .barred, .contacts {
	border-top: 1px solid #9999ff;
	border-bottom: 1px solid #9999ff;
}
.players thead, .barred thead {
	border-bottom: 1px solid #9999ff;
}
.players th, .players tr:nth-child(even), .barred tr:nth-child(even), .contacts tr:nth-child(even) {
	background-color: #ddddff;
}
.players .grade, .players .cat {
	text-align: center;
}
.players .ecfCode {
	width: 6em;
}
.players .name {
	width: 14em;
}
.players .club {
	width: 11em;
}

.performance td+td {
	text-align: center;
}
.performance th:first-child {
	text-align: left;
}

.tabForm p {
	margin-bottom: 0.8em;
}

.tabForm label {
	display: inline-block;
	text-align: right;
	margin-right: 0.2em;
	width: 13em;
}
.tabForm input {
	display: inline-block;
}

h2+*, *+h2, *+form h2 {
	margin-top: 1em;
}
*+h3 {
	margin-top: 1em;
	margin-bottom: 0;
}
*+h4 {
	margin-top: 0.5em;
}
h2+h3.sub {
	margin-top: 0.1em;
	margin-bottom: 1em;
}
h3+* {
	margin-top: 0.5em;
}
h3+p.sub {
	margin-top: 0.1em;
	font-style: italic;
}

li {
	margin-left: 3em;
}

.error {
	color: red;
}

p.error {
	margin-bottom: 0.8em;
}

.devNotice {
	border: 1px solid #009900;
	background-color: #ccffcc;
	padding: 1em;
	margin: 1em 0 /*2em*/ 1em 0;
}
p+p, p+form p, p+table.result, p+table.fixtures, p+table.resultSubmit {
	margin-top: 0.8em;
}

pre {
	font-family: Consolas, Courier New, monospace;
}

.barred td:first-child {
	padding-right: 2em;
}

.defaultTotals td+td {
	text-align: center;
}

table.contacts {
	margin-top: 1em;
}
table.contacts td {
	padding-right: 1em;
	vertical-align: top;
}

#map+p, #mapScript+p {
	margin-top: 1em;
}